@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,300&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Zilla Slab", serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header nav {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid #5c50cc;
}

.menu-button {
    position: absolute;
    top: 30px;
    left: 30px;
    background: #5c50cc;
    color: #fff;
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    z-index: 1000;
}

nav .close {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

nav {
    transition: 0.4s;
}

header nav ul {
    display: flex;
    width: 30%;
    margin: center;
    padding: 10px;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #5c50cc;
}

header nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #5c50cc;
    display: block;
    transition: 0.4s;
}

header nav ul li a:hover::after {
    width: 100%;
}

header .banner {
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header .banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
}

.banner-title {
    position: absolute;
    font-size: 35px;
    color: white;
    padding: 5px;
    background: #5c50ccc7;
    z-index: 1000;
}

.banner-subtitle {
    position: absolute;
    font-size: 20px;
    color: white;
    padding: 10px;
    background: #5c50ccaf;
    z-index: 1000;
    top: 135px;
}

.posts {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 50px;
}

.posts .post {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    position: relative;
    cursor: pointer;
}

.post .post-image {
    width: 100%;
    height: 250px;
    background: black;
    position: absolute;
    overflow: hidden;
}

.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
}

.posts .post:hover .post-image img {
    transform: scale(1.8) rotate(-20deg);
    opacity: 0.5;
}

.post-title {
    width: 100%;
    height: 100px;
    background: #281f79ec;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.post:hover .post-title {
    background: #281f79;
    height: 200px;
}

.post-title p {
    color: #ffffffc7;
    width: 80%;
    text-align: center;
    font-size: 18px;
}

.post-footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: -50px;
    display: flex;
    justify-content: space-between;
}

.post-footer .post-tag {
    color: white;
    padding: 5px;
    border-radius: 20px;
    background: #6a5bf0;
}

.description {
    width: 60%;
    color: rgb(95, 95, 95);
    margin: auto;
    text-align: justify;
    font-size: 18px;
    margin-top: 50px;
}

@media screen and (max-width: 600px) {

    .menu-button {
        display: flex;
    }

    nav .close {
      display: flex;
      color: white;
  }

    .hide-menu {
        left: -100%;
    }

    .banner-title {
        font-size: 20px;
        width: 80%;
        text-align: center;
    }

    .banner-subtitle {
        font-size: 16px;
    }

    header nav {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        
        left: 0;
        z-index: 10000;
        background: #211c4ee7;
    }

    header nav ul {
        width: 80%;
        align-items: center;
        font-size: 20px;
        height: 300px;
        margin: auto;
        justify-content: space-between;
        flex-direction: column;
        
    }

    header nav ul li a{
      color: white;
    }
}
